.balanceButton {
	display: flex;
	justify-content: space-around;
	align-items: center;

	color: #000;
	background-color: #fff;
	border-radius: 30px;
	width: 70px;
	height: 40px;
	padding: 0 15px;
}
.balanceButton p {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 20px;
	text-align: center;

	margin: 0;
	width: 100px;
}