.gameScreen {
	display: flex;
	justify-content: space-around;
	flex-direction: column;

	height: 100vh;
}
.gameBottomButton {
	display: flex;
	justify-content: center;

	margin: 10px;
}
.game {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.dealerGame, .playerGame {
	position: relative;
	padding: 35px 10px 0 10px;
}
.scoreTotal {
	position: absolute;
	top: 0;
	right: 0;
	font-weight: bold;
	font-size: 20px;
}
.cardImage {
	width: 120px;
	margin: 0 3px;
}